*.xcodeproj
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
Debug
Debug/*
wander/Debug/*
wander/Debug
.vs
.vs/*
wander/errors/*
wander/errors
errors/*
errors
data/settings.txt
wander/data/settings.txt